.container {
  background: linear-gradient(5deg, rgba(32, 75, 94, 1) 0%, rgba(195, 234, 239, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}